/*-----------------------------------------------css untuk homepage sebelum login---------------------------------------*/

.nav-color{ /* mengubah warna navbar */
    background:#0C7B93;
    border-color : #0C7B93;
    opacity: 0.76;
}

.navbar-header .nav-txt-color {/* mengubah warna navbar brand menjadi putih */
    color:white;
}

.navbar-inverse .nav-txt-color li a{/* mengubah warna text di navbar menjadi putih */
    color:white;
}

.navbar-inverse .nav-con{ /* mengatur jarak margin di navbar */
    margin-left: 2em;
    margin-right: 2em;
}

.container-body{ /* mengatur background homepage menggunakan container */
    background:url('../css/img/background-bayi.jpg');
    width: 100%;
}

.section-color{ /* mengatur atribut section (isi dari homepage) */
    background:#BABABA;
    opacity:0.74;
    width:85%;
    height: 95%;
    padding:2em;
    color:black;
    border-radius:1em;
    margin-bottom:10%;
    margin-top:5%;
}

.side{ /* container dari tulisan daftar sekarang dan button */
    width:550px;
    height:auto;
    align-content: center;
}

.side h3{ /*atribut tulisan mulai daftar sekarang*/
    display:inline-block;
    margin:0;
}

.side button{/* attribut button daftar */
    float:right;
}

footer{ /*mengatur footer*/
    padding:1em 1em 0.5em 1em;
    background:#404244;
    opacity:0.83;
}

footer p{/* mengatur tulisan di footer */
    text-align:center;
    color: white;
}

/*-------------------------------------------------CSS PASIEN---------------------------------------------------------*/

.h1-panel{ /*style panel h1 riwayat*/   
    background:#fff;
    opacity: 0.83;
    width:50%;
    height:15%;
    padding:1em;
    border-radius:0.5em;
    margin-bottom:1em;
}

.riwayat-panel{ /*style panel riwayat*/
    background:#fff;
    opacity: 0.83;
    width:100%;
    height:75%;
    padding:1.5em;
    border-radius:0.5em;
    margin-bottom:1em;
    margin-top:1em;
}

.list-riwayat{/*style list riwayat*/
    border:1px solid black;
    border-radius:10px;
    padding:1em;
}

.list-riwayat h3{
    font-weight: bold;
}

/*-----------------------------------------------------CSS DOKTER-------------------------------------------------------------*/
.footer-dk{
    text-align:center;
    background-color: white;
    opacity: 1.0;
}
.footer-dk p{
    color: black ;
    opacity: 48%;
    
}
.nav-color-dk{
    background-color: white;
    border-color: white;
}
.nav-logo-dk{
        width: 40px;
        height: 40px;
}
.nav-txt-color-dk{
    color: 33383D;
    
}
.container-body-dk{
    background:url('../css/img/back_doctor_1.jpg');
    width: 100%;
}
.section-color-dk{
    background:transparent  ;
    width:50%;
    height: 85%;
    padding-top: 15%;
}
.h1-login-dk{
    color: white;
    text-align: center;
}
.input-login-dk{
    background-color: white;
    opacity: 30%;
    height:105px ;
    width: 804px;
}
.btn-login-dk{
    text-align: center;
    width: 213px;
    height: 80px;
    background-color: 3A3F43;
    margin-left: 40%;
    font-size: 35px ;
    font-family:'Montserrat';
}
.section-hm-dk{
    background:white  ;
    opacity: 0.7;
    margin-top: 5%;
    height: 500px;    
}
.section-hm-d{
    height: 85%;
    
}
.btn-lg{
    height: 170px;
    width: 240px;
    background-color: 847A7A;
    opacity: 1.0;
    margin: 20px;
}


/*----------------------------------------------------CSS PENGELOLA--------------------------------------------------- */