/*-----------------------------------------------css untuk homepage sebelum login---------------------------------------*/

.nav-color{ /* mengubah warna navbar */
    background:#0C7B93;
    border-color : #0C7B93;
    opacity: 0.76;
}

.navbar-header .nav-txt-color {/* mengubah warna navbar brand menjadi putih */
    color:white;
}

.navbar-inverse .nav-txt-color li a{/* mengubah warna text di navbar menjadi putih */
    color:white;
}

.navbar-inverse .nav-con{ /* mengatur jarak margin di navbar */
    margin-left: 2em;
    margin-right: 2em;
}

.container-body{ /* mengatur background homepage menggunakan container */
    background:url('../css/img/background-bayi.jpg');
    width: 100%;
}

.container-welcome{ /*Container selamat datang homepage*/
    width:100%;
    padding:2em;
    background: white;
    opacity: 0.83;
}

.container-welcome h1{ /*Container selamat datang homepage*/
    font-weight: bold;
    text-align: center;
}

.container-isi{ /*container isi homepage*/
    margin-top:1em;
    width:100%;
    padding:2em;
    background: white;
    opacity: 0.83;
    margin-bottom:1em;
}

.carousel-inner .item img{ /*mengatur ukuran gambar di carousel*/
    height:410px;
    width:1280px;
}

.container-bawah-home{ /* container dari tulisan daftar sekarang dan button */
    width:550px;
    opacity: 0.83;
    height:auto;
    width: 100%;
    align-content: center;
    background-color: white;
    padding:1em;
    margin-bottom:1em;
}

.team-up{ /* container mengatur 2 card diatas*/
    width:100%;
    text-align: center;
    display:flex;
    margin:0;
}

.team-down{ /* container mengatur 3 card dibawah*/
    width:100%;
    text-align: center;
    display:flex;
}

.kolom{ /* container mengatur jejeran kolom team-up menjadi 50% */
    width: 50%;
}

.kolom:nth-child(1){
    text-align:right;
}

.kolom:nth-child(2){
    text-align:left;
    padding-left:6em;
}

.kolom2{ /* container mengatur jejeran kolom team-down menjadi 50% */
    width: 30%;
}

footer{ /*mengatur footer*/
    padding:1em 1em 0.5em 1em;
    background:#404244;
    opacity:0.83;
}

footer p{/* mengatur tulisan di footer */
    text-align:center;
    color: white;
}

/*-------------------------------------------------CSS PASIEN---------------------------------------------------------*/

.h1-panel{ /*style panel h1 riwayat*/   
    background:#fff;
    opacity: 0.83;
    width:50%;
    height:15%;
    padding:1em;
    border-radius:0.5em;
    margin-bottom:1em;
    margin-top:1em;
}

.riwayat-panel{ /*style panel riwayat*/
    background:#fff;
    opacity: 0.83;
    width:100%;
    height:75%;
    padding:1.5em;
    border-radius:0.5em;
    margin-bottom:1em;
    margin-top:1em;
}

.scroll-list-riwayat{
    height: 90%;
    overflow: auto;
}

.list-riwayat{/*style list riwayat*/
    border:1px solid black;
    border-radius:10px;
    padding:1em;
    margin-bottom: 10px;
}

.list-riwayat h3{ /* menebalkan h3 di list riwayat */
    font-weight: bold;
}

.btn-review-container{
    text-align:right;
}

.heading-lap-panel{ /* container heading page laporan kesehatan */
    background:#fff;
    opacity: 0.83;
    width:100%;
    height:25%;
    padding:1em;
    border-radius:0.5em;
    margin-bottom:1em;
    margin-top:1em;
}

.hasil-lap-panel{ /* container isi page laporan kesehatan */
    background:#fff;
    opacity: 0.83;
    width:100%;
    height:75%;
    padding:1.5em;
    border-radius:0.5em;
    margin-bottom:1em;
    margin-top:1em;
}

.keterangan{ /* container tanggal, kategori dan diperiksa oleh  */
    display: flex;
}

.keterangan .kolom{ /* menaruh keterangan disebelah kiri */
    text-align: left;
}

.keterangan :nth-child(2){ /* menaruh icon cetak disebelah kanan */
    text-align: right;
}

.keterangan .kolom input{ /* mengatur ukuran icon cetak */
    width:10%; 
}

/*-----------------------------------------------------CSS DOKTER-------------------------------------------------------------*/
.footer-dk{
    text-align:center;
    background-color: white;
    opacity: 1.0;
    padding: 2%;
    margin-top: 20px;
}
.footer-dk p{
    color: black ;
    opacity: 100%;
    font-size: 20px;
    line-height: 37px;

}
.form-check-label{
    color: white;
    font-family: 'Microsoft YaHei UI Light';
    font-size: 30px;
}
.form-check-input{
    width: 30px;
    height: 30px;
}
.nav-color-dk{
    background-color: white;
    border-color: white;
    padding-top: 2%;
}
.nav-logo-dk{
    position: absolute;
    width: 72px;
    height: 65px;
    left: 36px;
    top: 10px;
}
.nav-txt-color-dk{
    position: absolute;
    width: 507px;
    height: 19px;
    left: 120px;
    top: 5px;
    font-family: 'Microsoft YaHei UI Light';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    color: rgba(51, 56, 61, 0.35);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container-body-dk{
    background:url('../css/img/back_doctor_1.jpg');
    width: 100%;
    margin-top:20px ;
    margin-bottom: 30px;
 
}
.section-color-dk{
    background:transparent  ;
    width:50%;
    height: 95%;
    padding-top: 5%;
    padding-left: auto;
    
}
.h1-login-dk{
    color: white;
    text-align: center;
    font-family: 'Microsoft YaHei UI Light';
    font-size: 50PX;
    width: 850px;
    height: 50px;
    padding: auto;
}
.input-login-dk{
    background-color: white;
    margin-top: 30px;
    opacity: 30%;
    height:105px ;
    width: 804px;
    font-size:30px;
}
.btn-login-dk{
    text-align: center;
    width: 213px;
    height: 79px;
    position: absolute;
    background: rgba(58, 63, 67, 0.87);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 25% ;
    font-size: 35px ;
    font-family:'Microsoft YaHei UI Light';
}
.section-hm-dk{
    background:white  ;
    opacity: 0.7;
    margin-top: 5%;
    height: 500px;    
}
.section-hm-d{
    height: 85%;
    
}
.btn-home-dk{
    height: 170px;
    width: 240px;
    background-color: 847A7A;
    opacity: 1.0;
    margin: 20px;
}


/*----------------------------------------------------CSS PENGELOLA--------------------------------------------------- */   